
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enviar</title>
</head>
<body>
    <div>
        <h2>El Numero mayor del arreglo es @ViewBag.Maxi</h2>
        <h2>El Numero menor del arreglo es @ViewBag.Mini</h2>
        <br /><br /><br /><br />

        <table border="2">

            <tr>
                <th>Numeros ingresados</th>
                <th>Suma del primer numero</th>
            </tr>

            <tr>
                <td>@ViewBag.value0</td>
                <td>@ViewBag.sum0</td>
            </tr>

            <tr>
                <td>@ViewBag.value1</td>
                <td>@ViewBag.sum1</td>
            </tr>

            <tr>
                <td>@ViewBag.value2</td>
                <td>@ViewBag.sum2</td>
            </tr>

            <tr>
                <td>@ViewBag.value3</td>
                <td>@ViewBag.sum3</td>
            </tr>

            <tr>
                <td>@ViewBag.value4</td>
                <td>@ViewBag.sum4</td>
            </tr>

            <tr>
                <td>@ViewBag.value5</td>
                <td>@ViewBag.sum5</td>
            </tr>

            <tr>
                <td>@ViewBag.value6</td>
                <td>@ViewBag.sum6</td>
            </tr>

            <tr>
                <td>@ViewBag.value7</td>
                <td>@ViewBag.sum7</td>
            </tr>

            <tr>
                <td>@ViewBag.value8</td>
                <td>@ViewBag.sum8</td>
            </tr>

            <tr>
                <td>@ViewBag.value9</td>
                <td>@ViewBag.sum9</td>
            </tr>

        </table>
    </div>
</body>
</html>
